
name: CI

on:

  schedule:
    # Runs "At 02:00." (see https://crontab.guru)
    - cron: '0 2 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn clean test


#jobs:
#  build:
#    runs-on: ubuntu-latest
#
#    steps:
#      - uses: actions/checkout@v2
#      - name: Set up JDK 16
#        uses: actions/setup-java@v2
#        with:
#          java-version: '16.0.2'
#          distribution: 'adopt'
#          cache: maven
#        - name: Set up Maven
#            uses: aahmed-se/setup-maven@v3
#            with:
#              maven-version: 3.6.1
#        - name: Run Test project with Maven
#          run: mvn clean test
